<h1>
  <%= @cocktail.name%>
</h1>

<ul class="list-group">
  <li>
    <%= @cocktail.name %>
     <%= link_to "Remove",
                  dose_path,
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
  </li>
  <% @cocktail.doses.each do |dose| %>
  <li class="list-group-item">
    <%= dose.description %>
    <%= dose.ingredient.name %>
  </li>
  <% end %>
</ul>

<br>

<%= link_to "Return to all Cocktails", cocktails_path %>
